body {
  font-family: 'Courier New', Courier, monospace;
}

input::placeholder {
  font-family: 'Courier New', Courier, monospace;
}

ul {
  padding-left: 0;
}

ul > li {
  list-style-type: none;
}

header > h1 {
  text-align: center;
}

button {
  border: 2px solid #555;
  background: none;
  border-radius: 4px;
  color: #555;
  font-family: 'Courier New', Courier, monospace;
  display: inline;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo-list {
  width: 50vw;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  border: 2px solid black;
  padding: 8px;
  border-radius: 10px;
}

.todo-item:not(:last-child) {
  margin-bottom: 4px;
}

.delete:hover {
  color: red;
}

.complete:hover {
  color: green;
}

.submit:hover {
  color: blue;
}

.revert:hover{
  color: rgb(163, 30, 163)
}

.add-todo-form {
  width: 50vw;
  display: flex;
  justify-content: flex-end;
}

.add-todo-form input {
  flex-grow: 1;
}
.add-todo-form button {
  margin-left: 10px;
}

.completedTodo {
  background-color: rgb(124, 123, 123);
}